[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[packages]

pillow = "*"
checksumdir = "*"
django = "*"
requests = "*"
pyyaml = "*"
maya = "*"
markdown = "*"





[dev-packages]