{% extends 'shared/generic-page.html' %}

{% block main %}
    <div id="main" class="underSlice bigAss">
        <div class="blackMainInfo bigAss">
            <h2>All Images</h2>
            <div class="contentSection imageGrid gridWrapper lightbox-gallery">

            {% for day, image_list in all_images.items reversed %}
                {% for image in image_list %}
                    {% with include_meta=True %}
                      {% include image.instance_template %}
                    {% endwith %}
                {% endfor %}
            {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}