{% extends 'shared/generic-page.html' %}

{% block main %}
    <div id="main" class="underSlice bigAss">
        <div class="blackMainInfo bigAss">
            <h2>All Images</h2>
            <div class="contentSection imageGrid gridWrapper lightbox-gallery">

            {% for media_object in all_images reversed %}
                {% with include_meta=True %}
                  {% include media_object.instance_template %}
                {% endwith %}
            {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}