<span class="image-instance gridItem">
    <a href="../../{{ media_object.full_url }}" type="video/webm" title="{{media_object.caption}}" {% if thumb_width  %}style="width:{{thumb_width}}px"{% endif %} data-gallery>
        <video alt="{{ media_object.caption }}" {% if media_object.note %}class="thinBorder"{% endif %} src="../../{% if thumb_width > 400 %}{{ media_object.full_url }}{% else %}{{ media_object.thumb_url }}{% endif %}" autoplay loop>
        </video>
        {% if media_object.note and not hide_media_notes %}
            <div class="imageNote">{{media_object.note}}</div>
        {% endif %}
    </a>
    {% if include_meta %}
      <div class="imageMeta {% if not media_object.appears_in_experience %}highlight{% endif %}">
        {{ media_object.distinguisher }}
          <br/>
        {{media_object.date_and_time}}
          <br/>
        {{ media_object.slug }}
      </div>
    {% endif %}
</span>    <!---->
