<style>
    .thumb {
        width:100px;
     }
    #bigTable td {
        border: 2px solid black;
        }
     #bigTable .smallTable td {
        border: 1px dashed blue;
     }
</style>

<table id="bigTable">
    {% for day, iotd_list in iotds.items %}
    <tr>
        <td>{{day}}</td>
        <td>
            <table class="smallTable">
                {% for iotd in iotd_list %}
                    <tr>
                        <td><img class="thumb" src="{{iotd.thumb_url}}"></td>
                        <td>{{iotd.exif_datetime}}</td>
                        <td>{{iotd.new_datetime}}</td>
                        <td>{{iotd.iso8601}}</td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
    {% endfor %}
</table>