{% if no_link %}
<img src="/apps/places/img/{{place.thumb_filename}}" />
{% else %}
<a href="{{place.map_uri}}">
  <img src="/apps/places/img/{{place.thumb_filename}}" />
</a>
{% endif %}
  <div class="locationNameMask"></div>
    <div class="locationNameCaption">
      {% if not omit_small_name %}
        <div>{% if place.small_link %}<a href="{{place.small_link}}">{{place.small_name}}</a>{% else %}{{place.small_name}}{% endif %}</div>
      {% endif %}
    <div>{{place.big_name}}</div>
  </div>
