<a href="{% if use_experience %}/experiences/{{ location.most_significant_experience.slug }}.html{% else %}{{place.map_uri}}{% endif %}">
  <img src="/apps/places/img/{{place.thumb_filename}}" />
</a>
  <div class="locationNameMask"></div>
    <div class="locationNameCaption">
      {% if not omit_small_name %}
        <div>{% if place.small_link %}<a href="{{place.small_link}}">{{place.small_name}}</a>{% else %}{{place.small_name}}{% endif %}</div>
      {% endif %}
    <div>{{place.big_name}}</div>
  </div>
