<div class="experienceContainer">
    <h3>
        {% if no_experience_links %}
            {{experience.name}}
        {% else %}
            <a href="/experiences/{{experience.slug}}.html">{{experience.name}}</a>
        {% endif %}
    </h3>
    {% if experience.show_dates %}
        <h4 class="bigDate">{{experience.start_maya.slang_date}} - {{experience.end_maya.slang_date}}</h4>
    {% endif %}
    <div class="contentSection flex">
        {% for location in experience.unique_locations_by_place %}
            {% with location.place as place %}
              <div class="locationContainer">{% include 'where/single-place.html' %}</div>
            {% endwith %}
        {% endfor %}
    </div>

    <div class="contentSection">
        {{experience.description|safe}}
    </div>

    <div class="contentSection imageGrid">
        {% comment %}
        {% for day, summary in experience.summaries.items %}
            {{day}} - {{summary|safe}}
        {% endfor %}
        {% endcomment %}
        <div class="daySummary">{{day_meta.summary|safe}}</div>

        <div class="imagesContainer">
            {% for image in experience.images %}
              {% with image as media_object %}
                {% include image.instance_template %}
              {% endwith %}
            {% endfor %}
        </div>
    </div>
</div>