{% extends 'shared/generic-page.html' %}

{% block main %}
By Day
By Experience
<div id="main" class="underSlice">
    <div class="blackMainInfo dailyLog">
        {% for day, day_meta in days %}
            <div class="dayContainer">
                <h3>{{day}}</h3>
                <div class="left">
                    {% with day_meta.place as place %}
                        <div class="locationContainer">{% include 'single-place.html' %}</div>
                    {% endwith %}
                </div>
                <div class="right">
                    <div class="daySummary">{{day_meta.summary|safe}}</div>
                    <div class="iotdsContainer">
                        {% for iotd in day_meta.images %}
                            {% include "iotd-instance.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}