{% extends 'shared/generic-page.html' %}

{% load image_tags %}
{% load parser_tags %}

{% block main %}
<div id="main" class="underSlice">
    <div class="blackMainInfo experiences">

        <div class="experienceContainer era">
            <h2>{{era.name}}</h2>
            <h3 class="bigDate">{{era.start_maya.slang_date}} - {{era.end_maya.slang_date}}</h3>
            <h4>{{era.summary|safe}}</h4>

            <div class="contentSection">
                {% parse_md_dj era.description %}
            </div>

            <div class="contentSection">
                {% for section_name, section in era.sections.items %}
                    <div class="sub-experience {% cycle 'left' 'right' %}">
                    <h3>{{section_name}}</h3>
                    {% for image in section.images %}
                       {% include_image image %}
                    {% endfor %}
                    {% parse_md_dj section.text %}
                    </div>
                {% endfor %}
            </div>

            <div class="contentSection gridWrapper">
                {% for location in era.locations %}
                <div class="gridItem">
                    {% with location.place_meta as place %}
                      <div class="locationContainer">
                          {% with omit_small_name=True %}
                            {% include 'single-place.html' %}
                          {% endwith %}
                      </div>

                    {% endwith %}
                </div>
                {% endfor %}

                </div>
        </div>
    </div>
</div>
{% endblock %}