{% extends 'shared/generic-page.html' %}

{% block main %}
<div id="main" class="underSlice">
    {% for experience in experiences %}
        <div class="blackMainInfo experiences">
            {% if experience.display == "by-location" %}
                {% include 'single-experience-by-place.html' %}
            {% else %}
                {% include 'single-experience.html' %}
                    {% for sub_experience in experience.sub_experiences %}
                        <div class="sub-experience {% cycle 'left' 'right' %}">
                            {% with sub_experience as experience %}
                                {% include 'single-experience.html' %}
                            {% endwith %}
                        </div>
                    {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}