<div class="experienceContainer">
    <h3><a href="/experiences/{{experience.slug}}.html">{{experience.name}}</a></h3>
    {% if experience.show_dates %}
        <h4 class="bigDate">{{experience.start_maya.slang_date}} - {{experience.end_maya.slang_date}}</h4>
    {% endif %}
    <div class="contentSection flex">
        {% for location in experience.locations %}
            {% with location.place_meta as place %}
              <div class="locationContainer">{% include 'single-place.html' %}</div>
            {% endwith %}
        {% endfor %}
    </div>

    <div class="contentSection">
        {{experience.description|safe}}
    </div>

    <div class="contentSection imageGrid">
        {% for day, summary in experience.summaries.items %}
            {{day}} - {{summary}}
        {% endfor %}
        <div class="daySummary">{{day_meta.summary|safe}}</div>
        <div class="iotdsContainer">
            {% for iotd in experience.images %}
              {% include "iotd-instance.html" %}
            {% endfor %}
        </div>
    </div>
</div>