<!doctype html>

<html lang="en">
<head>
    <script src="/apps/jquery-3.1.1.min.js"></script>

    <meta charset="utf-8">

    <title>{% if page_title %}{{page_title}} | {% endif %}this is the bus.</title>

    <meta name="description" content="this is the bus">
    <meta name="author" content="Chelsea Kaye and Justin Myles">

    <link rel="stylesheet" href="/apps/internal/css/styles.css?v=1.0">
    <link href="/apps/internal/css/fonts.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
    {% if include_swipebox %}
        <link rel="stylesheet" href="/apps/blueimp/css/blueimp-gallery.min.css">


    {% endif %}
</head>

{% block body %}
<body>
    {% block banner %}{% endblock %}

    {% block rest-of-page %}
        {% block main %}{% endblock %}
    {% endblock %}

    {% block footer %}
    <div id="footer">
        <a href="https://www.netlify.com">
          <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg"/>
        </a>
        {% if build_hashes %}
                <ul class="verySmall">
                    <li>Build Time: {{build_time}}</li>
                    <li>App: {{build_hashes.app}}</li>
                    <li>Data: {{build_hashes.data}}</li>
                </ul>
        {% endif %}
    </div>
    {% endblock %}

{% if include_swipebox %}
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 id="gallery-title" class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

    <script src="/apps/jquery-3.1.1.min.js"></script>
    <script src="/apps/blueimp/js/jquery.blueimp-gallery.min.js"></script>

    <script type="text/javascript">
    $('#blueimp-gallery').on('slide', function (event, index, slide) {
        slide.firstChild.firstChild.loop = "loop";
        slide.firstChild.firstChild.play();
    }).on('open', function (event) {
        $('.blueimp-gallery > .title').show();
    })
    </script>


{% endif %}

</body>
{% endblock %}