{% extends 'shared/generic-page.html' %}

{% block main %}
By Day
By Experience
<div id="main" class="underSlice">
    <div class="blackMainInfo dailyLog">
        {% for day, day_meta in days %}
            <div class="dayContainer">
                <h3>{{day}}</h3>
                <div class="left">
                    {% for location in day_meta.locations.values %}
                    {% with location.place as place %}
                        <div class="locationContainer">{% include 'where/single-place.html' %}</div>
                    {% endwith %}
                    {% endfor %}
                </div>
                <div class="right">
                    <div class="daySummary">{{day_meta.summary|safe}}</div>
                    <div class="imageGrid">
                        <div class="imagesContainer">
                            {% for media_object in day_meta.multimedia %}
                                {% include media_object.instance_template %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}