{% extends "shared/generic-page.html" %}

{% block between %}
<div id="between" class="underFullBanner">
    <nav>
        <a href="https://github.com/thisisthebus">
            <img src="/apps/internal/img/GitHub-Mark-120px-plus.png"/>
        </a>
        <a href="https://www.instagram.com/thisisthebus/">
            <img src="/apps/internal/img/instagram-256-2.png"/>
        </a>
    </nav>
</div>
{% endblock %}

{% block main %}
<div id="main">
    <div class="contentSection orangeZone">
        <h2 class="center">Latest Major Updates</h2>

            {% for build_date, item_list in recently_updated_items.items %}
              {{ build_date }}
              <ul>
              {% for item in item_list %}
                <li>
                    <a href="{{item.url}}">{{ item.pretty_name }}</a>
                    {% if item.what_changed %}<span class="small">     (updated {{item.what_changed}})</span>{% endif %}</li>
              {% endfor %}
              </ul>
            {% endfor %}

    </div>

</div>
{% endblock %}