body {
    background-color: #fcc65c;
    font-family: 'Kreon', serif;
}

/* generic */
.left {
    float: left;
    clear: left;
}

.right {
    float: right;
    clear: right;
}

h1 {
    font-size:10em;
}

h2 {
   font-size:4em;
}

h3 {
    font-size:3em;
}

h1, h2, h3, .cabin {
	font-family: 'Cabin Sketch', cursive;
	text-shadow: 3px 6px 2px #000;
	font-weight: 200;
	color: #e7ca8d;
	z-index:100;
}

h5 {
margin: 0;
font-size: 1em;
color: #848b95;
}


#banner {
	height: 392px;
	box-shadow: 0px 1px 15px black;
}

.banner {
	width: 1200px;
	position: absolute;
	top: 0;
	left: 0;
	height: 133px;
}

#banner-image, .banner h1, .banner h2 {
	margin-top: 0;
	margin-bottom: 0;
	left: 0;
}

#banner #banner-image {
    width: 100%;
}

h1#pageName {
    top:-26px;
}

#banner h2 {
    top:104px;
    left:13px;
}

#banner-image {
    z-index: 10;
    top: 0;
}

.atopBanner {
    position: absolute;
    z-index:100;
}

#banner-slice {
    height:133px;
}

#bannerSlice .brandLabel {
	position: absolute;
	right: 0;
	z-index: 20;
	bottom: 0;
	margin: 0;
}

#updateDate {
	margin-left: 0;
	font-size: 24px;
	margin-top: -6px;
	height: 100px;
	background-color: #7a7f83;
	width: 280px;
	height: 27px;
	text-align: center;
	color: white;
	border-radius: 0 0 20px 20px;
	box-shadow: 0px 1px 23px black;
}

/* nav */

nav {
	bottom: -4px;
	text-align:center;
}

.banner nav {
    left: 250px;
}

.banner nav li {
	font-family: 'Cabin Sketch', cursive;
	text-shadow: 1px 2px 0px black, 0px 0px 17px black, 0 0 3px black;
	font-weight: 200;
	color: #e7ca8d;
	margin: 0;
	list-style: none;
	float: left;
	font-size: 3em;
	margin-left: 30px;
	border: 1px solid #fcc65c;
	padding: 10px;
	border-bottom: none;
}

.banner nav li:hover {
    background: linear-gradient( 0deg, gray, #fcc65c 20px);
}

.banner nav li.highlight {
    background-color: #fcc65c;
}


#bannerSlice nav {
    left: 0;
    bottom: 0;
}

#bannerSlice nav li {
    font-size: 2em;
}

nav a {
    text-decoration: none;
}

#between {
    width: 1200px;
}

#between.underFullBanner {
    margin:0;
    margin-top: 400px;
}

#between nav img {
    margin: auto;
    width: 120px;
}

#between nav a {
margin-right:60px;
}


#main.underSlice {
	margin-top: 133px;
	float: left;
}

.author, .lastUpdate {
    float:left;
    margin-left:50px;
    font-style:italic;
    clear: left;
}

.blackMainInfo {
	background-color: black;
	box-shadow: 0px 0px 14px 7px black;
	float: left;
	width: 920px;
	margin-top: 45px;
	margin-left: 20px;
	color: white;
	text-align: center;
	clear:left;
}

.blackMainInfo h3 {
	color: #848b95;
	margin: 0;
	text-align: center;
}

.blackMainInfo h4 {
	margin: 0;
	font-size: 1.3em;
	color: #848b95;
}

.blackMainInfo table {
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}

.blackMainInfo table, th, td {
	border: 4px double #fcc65c;
	padding: 10px;
}

.blackMainInfo a {
    color: #dca9ff;
}

.blackMainInfo img {
    max-width: 800px;
    margin: 15px;
}

.page .blackMainInfo h1, h2, h3, .cabin {
    margin: 10px;
}

.contentSection {
    float:left;
    clear:left;
    width: 820px;
    padding: 10px 50px 0 18px;
}

.contentSection.flex {
    display:flex;
    flex-flow: row wrap;
    align-items: stretch;
    padding: 0;
    width: 920px;
    margin-bottom: 10px;
}

.contentSection p {
    font-size: 1.4em;
    text-align: left;
}

.flex .locationContainer img {
    flex: 1;
}

.imageGrid img {
    height: 140px;
    margin: 10px;
}

.iotdsContainer.right.imageGrid {
    width: 550px;
}

/* Main */

#footer {
	float: left;
	clear: left;
	margin-top: 35px;
	margin-left: 100px;
}

#footer .verySmall{
    font-size: 10px;
    list-style: none;
    float: right;
}

.banner #currentLocation {
	position: absolute;
	top: 172px;
	left: 0;
	z-index: 20;
}

.dailyLog .locationContainer {
    float:left;
    display: inline-table;
}

.experiences .locationContainer {
    margin:auto;
}


.dailyLog .daySummary {
    float:right;
    width: 500px;
}

.dayContainer {
	float: left;
	margin-top: 6px;
	border-bottom: 2px dashed #fcc65c;
	padding-bottom: 15px;
	width: 100%;
}

.dayContainer h4 {
    margin-top: 25px;
}

.locationContainer {
    width: 280px !important;
}

.locationContainer .locationNameCaption div {
	color: #fcc65c;
	text-align: center;
	font-size: 1.2em;
	text-shadow: 2px 2px 1px black;
}

.locationContainer .locationNameCaption a {
	color: #fcc65c;
}

.locationContainer .locationNameCaption a:hover {
color: #5cffee;
}

.locationContainer .locationNameCaption {
	width: 280px;
	z-index: 25;
	margin-top: -50px;
	position:relative;
}

.locationContainer .locationNameMask {
	width: 280px;
	height: 46px;
	background-color: black;
	z-index: 15;
	opacity: .4;
	margin-top: -75px;
}

.locationContainer a {
    text-decoration: none;
}

.locationContainer a img {
    margin: auto;
}

#iotd-container a {
	margin: 5px;
	background-color: black;
	width:400px;
}

#iotd-container a img {
    max-width:400px;
}

.iotd-instance .caption {
	color: white;
	text-align: center;
	width: 100%;
}

.text.left {
    text-align: left;
}

.dayContainer .left {
    width:300px;
}

.dayContainer .right {
    width:520px;
}

.dayContainer .iotdsContainer {
    margin: auto;
}

.dayContainer .iotd-instance {
	width: 150px;
	margin: auto;
	margin-left: 10px;
}

.dayContainer .iotd-instance img {
    width:150px;
    margin: auto;

}

.dayContainer .iotd-instance .caption {
font-size: 10px;
}

.iotd-instance {
    width:400px;
    margin: auto;
}

.but-centered {
    margin: auto;
}
